{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">Movie Info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">INDEX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:create' %}">NEW</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">BACK</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %}
{% block content %}

<h1 class="text-warning">DETAIL</h1>
<hr>
<div class="d-flex justify-content-center">
  <!-- 왼쪽 -->
  <div class="me-5" style="width:300px;">
    <img src="{{ movie.poster_url }}" alt="" style="width:100%">
  </div>

  <!-- 오른쪽 -->
  <div class="d-flex flex-column ms-5" style="width:500px;">
    <h2 class="mb-5"><b>{{ movie.title }}</b></h2>
    <p>Audience : {{ movie.audience }}</p>
    <p>Release Dates : {{ movie.release_date|date:"Y년 m월 d일" }}</p>
    <p>Genre : {{ movie.genre }}</p>
    <p>Score : {{ movie.score }}</p>
    <p>{{ movie.description }}</p><br>

    <div class="d-flex">
      <button type="button" class="btn btn-outline-light ms-auto me-2" onclick="location.href='{% url 'movies:update' movie.pk %}'">EDIT
      </button>
      <form action="{% url 'movies:delete' movie.pk %}" method="POST">
        {% csrf_token %}
        {% comment %} <input type="submit" value="DELETE"> {% endcomment %}
        <button type="submit" class="btn btn-outline-danger">
          DELETE
        </button>
      </form>
    </div>
  </div>
</div>


{% endblock content %}