{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL PAGE</h1>
  <p>{{article.pk}} 번째 글</p>
  <hr>
  
  <p>제목 : {{article.title}}</p>
  <p>내용 : {{article.content}}</p>
  
  <p>작성시간 : {{article.created_at}}</p>
  <hr>
  {% if  article.user == request.user %}
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value='delete'>
  </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>

  <hr>
  <p>==e댓글==</p>
  <form action="{% url 'articles:comment_create' article.pk %}" method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='댓글 생성'>
  </form>
  <hr>
  {% for  comment in article.comment_set.all  %}
    <p>{{comment.content}}</p>
  {% endfor %}
  <hr>
{% endblock content %}