@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

/* 스크롤을 부드럽게 설정합니다. */
html{
  scroll-behavior: smooth;
}

/* 기본 글꼴 설정 */
body {
  font-family: 'Nunito', sans-serif;
  /* 창 크기가 줄어도 최소 1280px의 너비를 유지합니다. 
  디바이스의 화면 크기가 더 작다면 스크롤이 생성됩니다. */
  min-width: 1280px;
  color: #333333;
}

/*내비게이션 바 */
.nav-bar {
  display: flex;
  /* 서비스명과 메뉴 버튼이 서로 멀어지게 합니다. */
  justify-content: space-between;
  align-items: center;
  /* 내비게이션 바는 상단에 붙어 있습니다. */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  padding: 1rem 2rem; 
  /* sticky를 사용하는 경우 배경색을 지정해줘야 합니다. */
  background-color: white;
  height: 48px;
}

.service-name {
  font-size: large;
  font-family: 'Merienda One';
  margin-bottom: 0;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}

/* 호버 시 색상 변화 */
.nav-menu a:hover {
  color: #5F98D1;
}

.banner {
  background: url(../assets/apparel.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

/* 상단 이동 버튼 */
.pageup-btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: url(../assets/up-arrow.png);
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 본문 영역 */
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* 본문의 한 영역을 담당합니다. */
.section {
  display: flex;
  padding: 0 3rem;
  margin: 3rem 0;
}

/* 각각의 타이틀입니다. */
.section-title {
  text-align: center;
  font-family: 'Merienda One';
  font-size: xx-large;
  margin-bottom: 0;
}

/* 제목과 콘텐츠의 세로 배치 */
.about {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-description {
  font-size: large;
  margin-top: 1rem;
  line-height: 2rem;
}

/* 이미지의 크기 및 테두리 깎기. */
.info-img {
  width: 500px;
  border-radius: 1rem;
}

.contact-wrap {
  justify-content: space-around;
}

/* colmn 배치로 inline 요소들이 세로로 쌓이도록 조정합니다. */
.contact-form {
  display: flex;
  flex-direction: column;
  font-size: large;
  border: .2rem solid #333333;
  padding: 1rem;
}

.form-label {
  margin: 0.8rem 0;
}

.contact-form input {
  width: 400px;
  height: 2rem;
  padding: 0.5rem;
  border: 0.05rem solid #333333;
}

/* 버튼 호버 시 색상 변화 및 위치 조정. */
.form-button {
  width: 100px;
  margin: 1.5rem auto auto auto;
  background: none;
  cursor: pointer;
  border: 0.05rem solid #333;
}

.contact-form button:hover {
  background-color: #5F98D1;
}

.contact-img {
  width: 400px;
  height: 100%;
}

/* More 영역 */
.icon-wrap {
  display: flex;
  justify-content: space-evenly;
}

/* 이미지, 타이틀, 콘텐츠가 세로로 쌓이도록 조정합니다. */
.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 64px;
  height: 64px;
}

.icon-text {
  margin-top: 1rem;
}

/* 푸터 영역 */
.footer-content {
  margin-top: 3rem;
  /* 위 테두리 선 긋기. */
  border-top: 0.1rem solid #333333;
  padding: 1rem;
  font-size: large;
  text-align: center;
}

/* PRODUCT PAGE */
.product-title {
  font-family: 'Merienda One';
  font-size: x-large;
  border-bottom: 0.1rem solid #333333;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.card-columns {
  display: flex;
  /* wrap 속성을 주어 넘치면 다음 줄로 가게끔 설정. */
  flex-wrap: wrap;
}

/* 각각의 카드 내부는 세로로 레이아웃 됩니다. */
.card {
  display: flex;
  flex-direction: column;
  /* 한 줄에 3개씩 배치되도록 조정 */
  margin: 1%;
  width: 31%;
  height: 350px;
  border: 0.05rem solid black;  
}

.card-img {
  padding: 0.5rem;
  width: 100%;
  height: 150px;
}

.card-title {
  margin-top: 0.5rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.card-content {
  padding: 0.5rem;
  line-height: 1.5rem;
}